.login-title {
    text-align: center;
    padding-bottom: 2rem;
}

.signup-link {
    text-align: center;
    display: inline-block;
}

.links-row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}