.home-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.icon {
    width: 24px;
    /* Adjust the size as needed */
    height: 24px;
    /* Adjust the size as needed */
}