.home {
    position: relative;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.left-column,
.right-column {
    height: 100vh;
    position: fixed;
    top: 0;
}

.right-column {
    right: 0;
}

.left-column {
    left: 0;

}

.share-button-right {
    background-color: #ff7043;
    color: white;
    border-radius: 20px;
    padding: 6px 30px;
    text-transform: none;
    font-weight: bold;
    width: 100%;
}

@media (max-width: 900px) {

    .left-column,
    .right-column {
        position: static;
        height: auto;
    }

}