.post-pic {
    width: 100%;
    border-radius: 8px;
    height: 300px;
    margin-bottom: 15px;
}


.post-icons-container {
    margin-bottom: 10px;
}

.post-icons {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;

}

.post {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 18px;
    padding: 17px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}